body {
  background-color:#212529;
}


main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}


.signbtn{
  position: absolute;
  top: 45%;
  left: 45%;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  
}
.sinoutbtn{
  position: fixed;
    top:0;
    right:50px;
  
}
.textbox{
  position: fixed; 
    bottom:20px;
    right:0;
    margin-right:518px;
    width:30%;
    height:80px;
    border-radius: 10px;
    border:none;
    background-color:#464b50;
    color: white;
}

input[type=text] {
  width:39%;
  

  
  
}
.sendbtn{
 width:100px;
 height: 80px;
 position: fixed;
 bottom:20px;
 right: 0;
margin-right:400px;
}
img{
  border-radius: 20px;
  
}
h6 p{
  color:red;
  font-size: 2px;
}
#message{
  color:white;
}
#name{
  
  color:black;
}
#container{
  border-radius: 20px;
  width: 40%;
}
.timetxt{
  font-size: 0.3cm;
}
#scroll{
  overflow:hidden;
  scroll-behavior: smooth;
}